wheel

isort
black @ git+https://github.com/pre63/black.git
black[jupyter] @ git+https://github.com/pre63/black.git

accelerate
bitsandbytes
datasets
jsonlines
numpy
nltk
peft
protobuf
pydantic
scikit-learn
scipy
sentence-transformers
sentencepiece
torch
torchaudio
torchao
torchtune
torchvision
transformers
trl @ git+https://github.com/huggingface/trl.git@main