bitsandbytes
datasets
protobuf
torch
torchvision
torchaudio
torchao
torchtune
triton
transformers
peft
numpy
scipy
sentencepiece
accelerate
git+https://github.com/pre63/black.git
git+https://github.com/pre63/black.git#egg=black[jupyter]
isort
ipykernel
scikit-learn